@using Dominio;

<h1>Listado de Proveedores</h1>
<br>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success" role="alert">
        <div>
            @ViewBag.Mensaje
        </div>
    </div>
}

@if (@ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        <div>
            @ViewBag.Error
        </div>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: center" scope="col">Nombre</th>
            <th style="text-align: center" scope="col">Telefono</th>
            <th style="text-align: center" scope="col">Direccion</th>
            <th style="text-align: center" scope="col">Descuento</th>
            <th style="text-align: center" scope="col">Nuevo Descuento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Proveedor item in ViewBag.Proveedores)
        {

            <tr class="@(ViewBag.Mensaje!= null && ViewBag.Mensaje.Contains(item.Nombre)? "destacado" : "")">
                <form action="/Proveedor/ActualizarDescuento" method="post">
                <td align="center">@item.Nombre</td>
                <td align="center">@item.Telefono</td>
                <td align="center">@item.Direccion</td>
                <td align="center">@item.Descuento  %</td>

                <input hidden type="text" name="prov" value="@item.Nombre">
                <td align="center"><input type="text" name="desc"></td>
                <td align="center">
                    <button class="btn btn-primary" type="submit">Aplicar</button>
                </td>
                </form>
            </tr>
        }
    </tbody>
</table>